{%load bootstrap3%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title%}
    {{title}}
    {{else}}
    <title>My Gallery Today</title>
    {%endif%}

    {%block styles%}
    {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'index.css'%}">
    {%endblock%}

</head>

<body>
    {%include "navbar.html"%}
    {%block content%}
    {%if photos%}
    <div class="container">
        <div class="row">
            {%for photo in photos%}
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card bg-primary">
                    <h3>{{photo.category}}</h3>
                    <a href="{% url 'photo' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive"
                            alt="Image"></a>
                    <p class="card-home">{{photo.image_name}}</p>
                    <i class="card-home">Posted {{photo.pub_date|timesince}}</i>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%else%}
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-warning">
                <h1 class="text-center">No photos yet</h1>
            </div>
        </div>
    </div> -->
    {%endif%}
    {%endblock%}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>