{%extends 'main/base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <img src="{{photo.image.url}}" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h2>Category {{photo}}</h2>
            <h2>{{photo.image_name}}</h2>
            <p>{{photo.image_description}}</p>
            <i>Posted <b>{{photo.pub_date|timesince}}</b> ago by <b>{{photo.user.firstname}}</b></i>
            <p>Email: {{photo.user.email}}</p>
        </div>
    </div>
</div>
{%endblock%}